body {
  background-image: linear-gradient(to right, rgba(99, 233, 117, 0), rgb(130, 171, 237));
} 
#login{
  text-align: center;
  font-size: 30px;
}
h1 {
  font-size: 60px;
  text-align: center;
  color: rgb(10, 10, 10)
}